<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/listio/output/">匯出</a></li>
            <li role="presentation" class="active"><a href="#">匯入</a></li>
        </ul>
    </div>


    <div class="col-md-7">
    </div>
</div>

<script language="javascript">

init = function(){

}

$(document).ready(init);
$(document).on('page:load', init);

</script>
