<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">我的小說書櫃</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/spotservers/">伺服器列表</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/listio/">匯入匯出</a></li>
            </ul>
        </div>

    </div>
</nav>
